{% extends "base_generic.html" %}

{% block content %}
<head>
{{ form.media }}
</head>

<h1>Location</h1>

<p>{{geolocation}}</p>

  <form action=""   method="post"  >
    {% csrf_token %}

{{form.as_p}}

    <input type="submit" value="Save">
  </form>


<p>Associated with these locations:
    {% if geolocation.usertunelocation_set.all %}
        {% for x in geolocation.usertunelocation_set.all %}
        <p>{{x.tune}}
            <a href="{% url 'link_delete'  x.pk %}"> remove </a></p>
        {% endfor %}
    {% else %}
        None.
    {% endif %}
<hr>

{% endblock content %}