{% extends "base_generic.html" %}

{% block content %}
<h4>
    <p>Playlist Name: {{ playlist.name }} </p>
</h4>
<p>created {{ playlist.date_created }} </p>

{{ playlist.tunes.all|length}} Songs

<form action="{% url 'playlist_play' playlist.pk %}" method="GET">
    {% csrf_token %}
    <p> Start playing this playlist
        <input type="submit" value="Play">
    </p>
</form>

<form action="{% url 'playlist_delete' playlist.pk %}" method="GET">
    {% csrf_token %}
    <p> Delete this playlist, tunes will remain.
        <input type="submit" value="Delete">
    </p>
</form>


<ol>
    {% for song in object_list %}
    <li><a href="{% url 'tune_detail' song.pk %} " target="_blank"> {{ song.title }}</a> by {{song.artist }}</li>
    {% endfor %}
</ol>
{% endblock %}