{% extends "base_generic.html" %}

{% block content %}

<h1> Now Playing:</h1>
<h4><p> {{ song.title }} </p>
    <!--<audio controls>-->
        <!--<source src="{{song.tune_url}}" type="audio/mpeg">-->
        <!--Sorry, your (old?) browser does not support playing audio :-)-->
    <!--</audio>-->

    <audio controls>
        <source src="{{song.tune_content.url}}" type="audio/mpeg">
        Sorry, your (old?) browser does not support playing audio :-)
    </audio>

    <p> By {{ song.artist }} </p>



</h4>

<form action="{% url 'tune_delete' song.pk %}" method="GET">
    {% csrf_token %}
    <p> Delete this song
    <input type="submit" value="Delete">
    </p>
</form>
<hr>
<p>Associated with these locations:
    {% if song.usertunelocation_set.all %}
        {% for x in song.usertunelocation_set.all %}
        <p>{{x.location}}
            <a href="{% url 'link_delete'  x.pk %}"> remove </a></p>
        {% endfor %}
    {% else %}
        None.
    {% endif %}

<p>Add other locations, find by name search:

<form action="" method="POST">
    {% csrf_token %}
    <input name="query" type="text">
    <input type="submit" value="{{ button_title }}">
    {% if locations %}
        {% for loc in locations %}
        <p> <input type="checkbox" name="geoloc" value="{{ loc.id }}"> {{loc}} </p>
        {% endfor %}
    {% endif %}
</form>
<hr>
<!--<p>Assigned to these playlists:-->
    <!--{% if song.playlist_set.all %}-->
        <!--{% for p in song.playlist_set.all %}-->
        <!--<p>{{p.name}}</p>-->
        <!--{% endfor %}-->
    <!--{% else %}-->
        <!--None.-->
    <!--{% endif %}-->

<!--<p>Add to other playlists:-->

<!--<form action="" method="POST">-->
    <!--{% csrf_token %}-->
    <!--<input type="submit" value="Add">-->
    <!--{% if playlist_list%}-->
        <!--{% for p in playlist_list %}-->
            <!--<p><input type="checkbox" name="plist" value="{{ p.id }}"> {{ p }}</p>-->
        <!--{% endfor %}-->
    <!--{% endif %}-->
<!--</form>-->

{% endblock %}