{% extends "base_generic.html" %}

{% block content %}
<h1>Tunes</h1>
<a href="{% url 'tune_search' %}" > Revise your search parameters</a>

{% if tune_list %}
    <p>Choose a tune to play and link to a geographical area.</p>
    <table>
    {% for tune in tune_list %}
    <tr>
       <td>{{ tune.artist }}</td>
        <td><a href="{{tune.get_absolute_url }}"> {{tune.title }}</a></td>
        <td>{{tune.album}}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p> No music was found for your search. </p>
{% endif %}

{% endblock %}